services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    container_name: google-sheets_postgres
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USERNAME}
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${DATABASE_NAME}", "-U", "${DATABASE_USERNAME}" ]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    ports:
      - "5434:5432"
    networks:
      - app-network

  google-sheets-service:
    build: .
    container_name: google-sheets_microservice
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_URL=${DATABASE_URL}
      - MAIN_API_URL=${MAIN_API_URL}
      - API_KEY=${API_KEY}
      - SERVICE_NAME=${SERVICE_NAME}
      - MICROSERVICE_URL=${MICROSERVICE_URL}
      - GOOGLE_SHEETS_SHEETS_CLIENT_ID=${GOOGLE_SHEETS_CLIENT_ID}
      - GOOGLE_SHEETS_CLIENT_SECRET=${GOOGLE_SHEETS_CLIENT_SECRET}
      - GOOGLE_SHEETS_REDIRECT_URI=${GOOGLE_SHEETS_REDIRECT_URI}
      - PORT=${PORT}
    ports:
      - '${PORT}:${PORT}'
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ./package.json:/app/package.json
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  database_data:
